<?php

return [
  "meetups"=> [
    'consumer_key'    => 'THE-CONSUMER-KEY',
    'consumer_secret' => 'THE-CONSUMER-SECRET',
    "baseUrl"=> "https://api.meetup.com",
    "uris"=> [
      "events"=> "/2/events/?group_urlname=%s&key=%s",
      "groups"=> "/2/groups/?group_urlname=%s&key=%s"
    ]
  ],
  "ti.to"=> [
    "baseUrl"=> "https://ti.to"
  ],
  "cache" => [
    "expiry"=> "3600",
    "path"=> "../var/cache/"
  ]
];
