<?php

return [
  "meetups"=> [
    "baseUrl"=> "https://www.meetup.com",
  ],
  "ti.to"=> [
    "baseUrl"=> "https://ti.to"
  ],
  "cache" => [
    "expiry"=> "3600",
    "path"=> "../var/cache/"
  ]
];
