<?php

return [
  "meetups"=> [
    'consumer_key'    => 'THE-CONSUMER-KEY',
    'consumer_secret' => 'THE-CONSUMER-SECRET',
    'redirect_uri' => 'https://URL/index.php?group=PHPMinds',
    "baseUrl"=> "https://api.meetup.com",
    "uris"=> [
      "events"=> "/2/events/?group_urlname=%s&key=%s",
      "groups"=> "/2/groups/?group_urlname=%s&key=%s"
    ]
  ],
  "ti.to"=> [
    "baseUrl"=> "https://ti.to"
  ],
  'groups' => [
      'path' => 'https://raw.githubusercontent.com/pavlakis/api-notts-digital/feature/1-add-pipeline-to-verify-groups-json-structure/groups.json',
  ],
  "cache" => [
    "expiry"=> "3600",
    "path"=> "../var/cache/"
  ]
];
